{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env", {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "styled-components",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
